# **Libraries importing**

For manipulating and analyzing data, we use pandas library (which have to installed).
To get the timestamp, we import datetime.
We import create_engine from the module sqlalchemy(which have to installed) to connect to the database and to create database tables.

In [1]:
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine
import numpy as np
import re

# **Method Definition**

### checkValueInCollection function 

This function checks if values of an attribute are contained in a given collection (which lists all acceptable values).

Input :
   - database : a dictionary storing a database. Keys are table names and values are tables (datasets). The latter are stored in memory as dataframes 
   - attribute : an attribute name
   - table : a table name, referencing a table in the input database; the one containing the input attribute
   - string collection : a collection of strings listing all acceptable values for the input attribute
   
Output : A dataframe containing the quality values (and identifiers), for each cell of the input attribute (granularity: cell). The dataframe contains the following columns :
   - rowID: identifier of the row in the input table, i.e. the first column in the table
   - colID: name of the column in the input table, i.e. the value of the second argument
   - tableID: table name, i.e. the value of the third argument
   - appMethID: this method name, i.e. checkValueInCollection
   - timestamp: time at which we executed the method 
   - DQValue: quality value (either 1 or 0), corresponding to the result of applying the algorithm to the cell

In [2]:
def checkValueInCollection(database,attributeName, tableName, stringCollection):
    
    #retrieve the dataframe that represents the tableName given as an argument
    table= database[tableName] 
    
    # create a dataframe for storing the result 
    result= pd.DataFrame(columns=['appMethID', 'tableID','rowID', 'colID', 'timestamp', 'DQValue']) 
    
    #calculate quality value
    result['DQValue'] = 1*table[attributeName].isin(stringCollection) #check whether attribute values are validated against string_collection. 
                                                                      #Return 1 if they are valid and 0 otherwise 
                                                                      #(Multiplication is used to cast the isin() result to integers.
    #set identifiers, method and timestamp
    result['tableID'] = tableName #fill the tableID column with the name of the table given as argument
    result['colID'] = attributeName #fill the colID column  with the attribute name given as argument 
    result['rowID'] = table[table.columns[0]] # fill the column rowID with the row IDs   
    result['appMethID']= checkValueInCollection.__name__ #fill the appMethID column of the result dataframe with the name of the current function 
    result['timestamp']= datetime.now() #fill the timestamp column with the current datetime 
    
    return result #return the final result which is a dataframe

### checkDateFormat function

This function checks if every value of a date attribute of a given table respects the date format provided as argument or not.

Input :
   - database : a dictionary storing a database. Keys are table names and values are tables (datasets). The latter are stored in memory as dataframes 
   - attribute : an attribute name
   - table : a table name, referencing a table in the input database; the one containing the input attribute
   - dateFormat: a string containing a format of date that we will verify our dates against.
   
Output : A dataframe containing the quality values (and identifiers), for each cell of the input attribute (granularity: cell). The dataframe contains the following columns :
   - rowID: identifier of the row in the input table, i.e. the first column in the table
   - colID: name of the column in the input table, i.e. the value of the second argument
   - tableID: table name, i.e. the value of the third argument
   - appMethID: this method name, i.e. checkDateFormat
   - timestamp: time at which we executed the method 
   - DQValue: quality value (either 1 or 0), corresponding to the result of applying the algorithm to the cell

In [3]:
def checkDateFormat(database,attributeName, tableName, dateFormat):
    
    #Here below an intern function checkFormat that has two inputs a date in any string format and a specific dateFormat to check if the given string respects the date format provided as argument returns 1 in this case and 0 otherwise.
    def checkFormat(dateString,dateFormat): 
        try: 
            datetime.strptime(dateString, dateFormat) #If the string (first argument) and the date format (second argument)
            return 1                                         #passed to the strptime() doesn't match, we will get ValueError and it returns 0
        except ValueError:                                           #otherwise it will return 1
            return 0 
        
    #retrieve the dataframe that represents the tableName given as an argument
    table = database[tableName]  
    
    #create the schemas of the resulting dataframe
    result = pd.DataFrame(columns=['appMethID', 'tableID','rowID', 'colID', 'timestamp', 'DQValue']) # create a dataframe named result with the same columns of CellsMetadata
    
    
    #set identifiers, method and timestamp
    result['rowID'] =table[table.columns[0]] # fill the  rowID column with the row IDs
    result['appMethID'] = checkDateFormat.__name__ #fill the appMethID column  of the dataframe result with the name of the current function 
    result['tableID'] = tableName  #fill the tableID column with the name of the table given as argument
    result['colID'] = attributeName #fill the colID column with the attribute name given as argument
    result['timestamp'] = datetime.now() #fill the column timestamp with the current datetime 
    
    #calculate quality value
    result['DQValue'] =  table[attributeName][table[attributeName].notna()].apply(lambda x: checkFormat(x, dateFormat) ) #fill the column DQValue by applying the checkFormat function to check if every attribute value, 
                                                                                                                         #except NAN values, respects the given date format. 
    
    return result #return the final result which is a dataframe

### checkValue

This function computes the ratio of rows that have a specific value of the attribute provided as argument and that have a not null id.

Input :
   - database : a dictionary storing a database. Keys are table names and values are tables (datasets). The latter are stored in      memory as dataframes 
   - attributeName : an attribute name 
   - tableName : a table name, referencing a table in the input database; the one containing the input attribute
   - value : a specific value
     
Output : A dataframe containing the computed quality value (and identifiers), organized in a single entry (granularity: column)  with the following columns :
  
   - colID: name of the column in the input table, i.e. the value of the second argument
   - tableID: table name, i.e. the value of the third argument
   - appMethID: this method name, i.e. checkValue
   - timestamp: time at which we executed the method 
   - DQValue: a ratio, which is the result of applying the algorithm

In [4]:
def checkValue(database, attributeName, tableName, value):

    #retrieve the dataframe that represents the tableName given as an argument
    table = database[tableName]
    
    #retrieve the table shape for further use 
    x,y = table.shape   # x is the number of lines and y is the number of columns
    
    #calculate quality value
    totalValidTuples= table.loc[(table[attributeName]==value) & (~table['ID'].isnull())].shape[0]
    DQMet= totalValidTuples*100/x
    
    #formulate the result into a dataframe 
    result= pd.DataFrame({'appMethID': checkValue.__name__ , 'tableID':tableName, 'colID':attributeName, 'timestamp': datetime.now(), 'DQValue':DQMet},index=[0])

    return result #return the final result which is a dataframe

### checkNotNull function

This function computes the percentage of non-null values of a given attribute considering only the rows which id is not null. 

Input :
   
   - database : a dictionary storing a database. Keys are table names and values are tables (datasets). The latter are stored in      memory as dataframes 
   - attributeName : an attribute name 
   - tableName : a table name, referencing a table in the input database; the one containing the input attribute
     
Output : A dataframe containing the computed quality value (and identifiers), organized in a single entry (granularity: column)  with the following columns :
  
   - colID: name of the column in the input table, i.e. the value of the second argument
   - tableID: table name, i.e. the value of the third argument
   - appMethID: this method name, i.e. checkNotNull
   - timestamp: time at which we executed the method  
   - DQValue: a percentage, which is the result of applying the algorithm

In [5]:
def checkNotNull(database,attributeName, tableName):
    
    #retrieve the dataframe that represents the tableName given as an argument
    table = database[tableName]
    
    #retrieve the table shape for further use
    x,y = table.shape # x is the number ol lines and y is the number of columns
    
    #calculate quality value
    totalValidTuples = table.loc[(~table[attributeName].isnull()) & (~table['ID'].isnull())].shape[0]
    DQMet= totalValidTuples*100/x
    
    #formulate the result into a dataframe
    result= pd.DataFrame({'appMethID': checkNotNull.__name__ , 'tableID':tableName, 'colID':attributeName, 'timestamp': datetime.now(), 'DQValue':DQMet},index=[0])
    
    return result #return the final result which is a dataframe

### checkMinMaxDomainRule function

This function checks whether the values of a given attribute are between given min and max values or not.

Input :
   
   - database : a dictionary storing a database. Keys are table names and values are tables (datasets). The latter are stored in      memory as dataframes 
   - attributeName : an attribute name 
   - tableName : a table name, referencing a table in the input database; the one containing the input attribute
   - MIN : a specific integer value 
   - MAX : a specific value
   
Output : A dataframe containing the quality values (and identifiers), for each cell of the input attribute (granularity: cell). The dataframe contains the following columns :

   - rowID: identifier of the row in the input table, i.e. the first column in the table
   - colID: name of the column in the input table, i.e. the value of the second argument
   - tableID: table name, i.e. the value of the third argument
   - appMethID: this method name, i.e. checkMinMaxDomainRule
   - timestamp: time at which we executed the method 
   - DQValue: quality value (either 1 or 0), corresponding to the result of applying the algorithm to the cell

In [6]:
def checkMinMaxDomainRule(database,attributeName, tableName, MIN, MAX):
    
   '''Here below an intern function checkValueInDomain that has three inputs:
      - a value which will be the value of the given attribute
      - a minValue: minimum value 
      - a maxValue: maximum value.
   
   outputs:
      - nan in case value is null
      - 1 if the value is between minValue and maxValue
      - 0 otherwise                                          
   '''
   def checkValueInDomain(value,minValue,maxValue):
      
      if pd.isna(value):
        return np.nan  # Retourner NaN pour les valeurs manquantes
      if minValue <= value <= maxValue:
        return 1
      else:
        return 0
   #retrieve the dataframe that represents the tableName given as an argument
   table = database[tableName]
   #create the schema of the resulting dataframe
   result= pd.DataFrame(columns=['appMethID', 'tableID','rowID', 'colID', 'timestamp', 'DQValue'])
   #calculate quality value
   result['DQValue']= table[attributeName].apply(lambda x: checkValueInDomain(x,MIN,MAX))
   #set identifiers, method and timestamp of the resulting dataframe
   result['rowID']= table[table.columns[0]]
   result['appMethID']= checkMinMaxDomainRule.__name__
   result['tableID']= tableName
   result['colID']= attributeName
   result['timestamp']= datetime.now()
   
   return result  #return the final result which is a dataframe

### checkIncreasingDatesInSeries function

This function checks whether in each row of a given table (tableName argument), a series of attributes of date type, named with a given prefix (attributeNamePrefix argument) are in increasing order.

Input :
   - database : a dictionary storing a database. Keys are table names and values are tables (datasets). The latter are stored in      memory as dataframes 
   - attributeNamePrefix : a prefix for a set of attributes from a table with tableName as name.
   - tableName : a table name, referencing a table in the input database; the one containing the input attribute
   
Output : A dataframe containing the computed quality values (and identifiers), organized as entries (granularity: row) with the following columns :

   - rowID: identifier of the row in the input table, i.e. the first column in the table
   - colID: name of the column in the input table which begin with the given prefix (the second argument "attributeNamePrefix") 
   - tableID: table name, i.e. the value of the third argument
   - appMethID: this method name, i.e. checkIncreasingDatesInSeries
   - timestamp: time at which we executed the method
   - DQValue: quality value (either 1 or 0), corresponding to the result of applying the algorithm to the row

In [7]:
def checkIncreasingDatesInSeries(database, attributeNamePrefix, tableName):
  
      #retrieve the dataframe that represents the tableName given as an argument
      table= database[tableName]

      #filter the columns that begin with the given prefix (attributeNamePrefix) and store them in a variable 
      table_with_only_dates_columns = table.filter(regex="^"+attributeNamePrefix)

      #retrieve the list of columns name 
      columns= list(table_with_only_dates_columns.columns)

      #create the result dataframe schema
      result= pd.DataFrame({'appMethID':checkIncreasingDatesInSeries.__name__, 'tableID': tableName},index=range(table.shape[0]))

      #create an empty list that will store lists of index,timestamp and the quality value of a single row : [[index,timestamp,qualityValue],...]
      result_list=[]

      #iterating every row of the retrieved dataframe "table_with_only_dates_columns"  
      for index, row in table_with_only_dates_columns.iterrows(): 

        is_valid = -1 #quality value

        #check if the row is empty, in this case it will return nan as a quality value
        if row.count()==0:
          is_valid = np.nan
          result_list.append([table.at[index,'ID'], datetime.now(),is_valid]) # adding the rowID, the timestamp and the quality value to the list
          continue # pass to the next row regardless to the following code 

        #check if the row contains one value and in the first column, in this case it will return 1 (valid order) as a quality value
        elif row.count()==1 and row[columns[0]]!= np.nan :
          #valid order
          is_valid=1  
          # adding the rowID, the timestamp and the quality value to the list
          result_list.append([table.at[index,'ID'], datetime.now(),is_valid]) 
          continue # pass to the next row regardless to the following code 

        # in other cases do the following
        else :
          #iterating each pair of columns for each row
          for i,j in [(columns[i], columns[i+1]) for i in range(0, table_with_only_dates_columns.shape[1]-1)]: 

              #check if the date of the column i and the date of the column j are not nan 
              if str(row[i])!='nan' and str(row[j])!='nan' :
                date_i= datetime.strptime(str(row[i]), '%d/%m/%Y') #convert the string type of the date in the column i into a date format type 
                date_j= datetime.strptime(str(row[j]), '%d/%m/%Y') #convert the string type of the date in the column j into a date format type 
                if date_i>date_j:  #check if the date in the column i is posterior to the the date in the column j
                  #not valid order 
                  is_valid=0       
                  break

              #check if the date in the column i is nan and the date in the column j is not       
              elif str(row[i])=='nan' and str(row[j]) != 'nan': 
                #not valid order 
                is_valid=0
                break 
              
              else :  
                  #valid order 
                  is_valid=1

        result_list.append([table.at[index,'ID'],datetime.now(),is_valid]) # adding the rowID, the timestamp and the quality value to the list

      #convert the result_list to a dataframe
      df = pd.DataFrame(result_list,columns=['rowID','timestamp','DQValue'])

      #create the resulting dataframe 
      result=pd.concat([result,df],axis=1)
      
      return result #return the final result which is a dataframe

### checkNbOccurrenciesInSeries

This function checks whether in each row of a given table (tableName argument), a series of attributes, named with a given prefix (attributeNamePrefix argument) have at least of given number (targetValue argument) of non-null values.

Input :

   - database : a dictionary storing a database. Keys are table names and values are tables (datasets). The latter are stored in      memory as dataframes 
   - tableName : a table name, referencing a table in the input database; the one containing the input attribute
   - columnNamePrefix : a prefix for a set of attributes from a table with tableName as name.
   - targetValue : an integer representing a minimum value.   
   
Output : A dataframe containing the computed quality values (and identifiers), organized as entries (granularity: row) with the following columns :

   - rowID: identifier of the row in the input table, i.e. the first column in the table
   - colID: name of the column in the input table which begin with the given prefix (the second argument "attributeNamePrefix") 
   - tableID: table name, i.e. the value of the third argument
   - appMethID: this method name, i.e. checkIncreasingDatesInSeries
   - timestamp: time at which we executed the method
   - DQValue: quality value (either 1 or 0), corresponding to the result of applying the algorithm to the row

In [8]:
def checkNbOccurrenciesInSeries(database, tableName, attributeNamePrefix, targetValue):
  
      #retrieve the dataframe that represents the tableName given as an argument
      table= database[tableName]

      #create a dataframe with a single column DQValue
      nb_appoint=pd.DataFrame(columns=['DQValue'])

      #filter the columns that begin with the given prefix (attributeNamePrefix) 
      columns_with_given_prefix = table.filter(regex="^"+attributeNamePrefix)


      #calculate quality value
      nb_appoint['DQValue']= columns_with_given_prefix.count(axis=1).apply(lambda x: 1 if x >= targetValue else 0)

      #create the schema of the resulting dataframe 
      result= pd.DataFrame({'appMethID':checkNbOccurrenciesInSeries.__name__, 'tableID': tableName,'rowID': table['ID'],'timestamp': datetime.now()},index=range(table.shape[0]))

      #create the resulting dataframe 
      result= pd.concat([result,nb_appoint['DQValue']],axis=1)
      
      return result #return the final result

# **Data Loading**

Reading the excel sheet "Patients" and put it in a dataframe with converting the 'DATE_DIAG' column type to string

In [9]:
patients = pd.read_excel('C:/imen/pfe_on/CHRU/Sources/CHRU_source.xlsx',sheet_name="Patients", dtype={'DATE_DIAG': str})

In [10]:
patients #printing the dataframe

,ID,SEXE,DDN,ACT_PROF,ACT_PROF_PREC,DIAG,AUTR_DIAG,DIAG_PROBA,DATE_DIAG,PREM_SYM,...,Détail de la cause du décès : [ DET_DCD_V ] [M6 - F0],Détail de la cause du décès : [ DET_DCD_V ] [M8 - F0],Détail de la cause du décès : [ DET_DCD_V ] [M10 - F0],Détail de la cause du décès : [ DET_DCD_V ] [M14 - F0],Détail de la cause du décès : [ DET_DCD_V ] [M17 - F0],Détail de la cause du décès : [ DET_DCD_V ] [M18 - F0],Détail de la cause du décès : [ DET_DCD_V ] [M19 - F0],Détail de la cause du décès : [ DET_DCD_V ] [M20 - F0],Détail de la cause du décès : [ DET_DCD_V ] [M21 - F0],Détail de la cause du décès : [ DET_DCD_V ] [M30 - F0]
0,1,Féminin,23/07/1939,Retraité,Agriculteur exploitant,Non encore déterminé,NaN,NaN,NaN,juil-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Masculin,18/11/1941,NaN,NaN,Non encore déterminé,NaN,NaN,NaN,janv-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Masculin,27/10/1941,Retraité,Cadre d'entreprise,Non encore déterminé,NaN,NaN,NaN,déc-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Masculin,09/09/1959,"Contremaître, agent de maîtrise",NaN,SLA,NaN,Forme certaine,juin-17,févr-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Masculin,27/05/1960,NaN,NaN,SLA,NaN,Forme probable,mai-17,oct-15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1655,1656,Féminin,18/01/1936,NaN,NaN,SLA,NaN,Forme certaine,mars-06,juil-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1656,1657,Féminin,23/01/1949,Ouvrier non qualifié,NaN,SLA,NaN,Forme certaine,déc-09,juil-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1657,1658,Féminin,28/11/1947,NaN,NaN,SLA,NaN,Forme probable,nov-21,avr-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1658,1659,Féminin,20/07/1940,NaN,NaN,SLA,NaN,Forme certaine,mai-21,mai-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1659,1660,Masculin,23/12/1961,Cadre d'entreprise,NaN,SLA,NaN,Forme certaine,déc-21,avr-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
travaux = pd.read_excel('C:/imen/pfe_on/CHRU/Sources/CHRU_source.xlsx',sheet_name="Travaux")
travaux

,ID,Date de prélèvement,Sodium,Potassium,Chlorures,Créatinine,Urée,Acide urique,Albumine,Bilirubine totale,...,Polynucléaires basophiles1,Polynucléaires neutrophiles,Polynucléaires neutrophiles1,Polynucl<e9>aires basophiles_1,Polynucl<e9>aires basophiles1_1,Monocytes,Monocytes1,Polynucléaires éosinophiles,Polynucléaires éosinophiles1,Rapport IgG(LCR) ALB(LCR)
0,440932,16/03/2018 22:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,81.3,NaN,0.4,NaN,4.0,NaN,0.8,NaN,NaN
1,1807520561,16/03/2018 22:45,136,4.0,92,82,8.7,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1807810044,18/03/2018 08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1807720221,18/03/2018 08:00,136,3.8,92,59,5.1,NaN,42,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,387640,18/03/2018 08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,71.6,NaN,0.6,NaN,5.3,NaN,3.2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33166,2201110616,11/01/2022 12:25,141,4.1,100,69,NaN,NaN,43.4,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33167,2201110615,11/01/2022 12:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33168,2209510578,05/04/2022 10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33169,2209510576,05/04/2022 10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33170,"2,21E+11",05/04/2022 11:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
excelFile = pd.ExcelFile('C:/imen/pfe_on/CHRU/Sources/CHRU_source.xlsx')

In [13]:
database = {'Patients':patients, 'Travaux':travaux}

# **Connection to database**

In [14]:
#create an engine that will allow us to connect to the postgres database by specifying the database characteristics (user=postgres,password=test123,host=localhost,port=5432,database_name=new_db)
engine = create_engine('postgresql+psycopg2://postgres:test123@localhost:5432/new_db')

# **Method Execution and result storage**

### Execution of checkValueInCollection method and Result storage

In [15]:
result = checkValueInCollection(database,'LIEU_DEBUT','Patients', ['Bulbaire','Spinal','Respiratoire']) #you should enter the table that we will work with as a string and with the same name of the dataframe

# Storing the result of the method checkValue in CellsMetadata Table
result.to_sql('CellsMetadata',engine, if_exists='append', index=False) # insert the dataframe result in the database table called "CellsMetadata" 

#PS: CellsMetadata will be created only once

### Execution of checkDateFormat method and result storage

In [16]:
result= checkDateFormat(database,'DATE_DIAG','Patients','%d-%m-%Y') 

# Storing the result of the method checkDateFormat in CellsMetadata Table
result.to_sql('CellsMetadata',engine, if_exists='append', index=False) # insert the dataframe result in the database table called "CellsMetadata"

### Execution of checkValue method and result storage

In [17]:
result = checkValue(database,'DIAG', 'Patients', 'SLA')

# Storing the result of the method checkValue in ColumnsMetadata Table
result.to_sql('ColumnsMetadata',engine, if_exists='append', index=False) # insert the dataframe result in the database table called "ColumnsMetadata" 

#PS: ColumnsMetadata will be created only once

### Execution of checkNotNull method and result storage

In [18]:
result = checkNotNull(database,'Cholestérol','Travaux')

# Storing the result of the method checkNotNull in ColumnsMetadata Table
result.to_sql('ColumnsMetadata',engine, if_exists='append', index=False) # insert the dataframe result in the database table called "ColumnsMetadata"

### Execution of checkMinMaxDomainRule method and result storage

In [19]:
result = checkMinMaxDomainRule(database,'Score ALS FRS-R : [ ALS_V ] [M0 - F0]','Patients',0,48)

# Storing the result of the method checkNotNull in CellsMetadata Table
result.to_sql('CellsMetadata',engine, if_exists='append', index=False) # insert the dataframe result in the database table called "CellsMetadata"

### Execution of checkIncreasingDatesInSeries method and result storage

In [20]:
result = checkIncreasingDatesInSeries(database,"Date de l'examen",'Patients')

# Storing the result of the method checkIncreasingDatesInSeries in RowsMetadata Table
result.to_sql('RowsMetadata',engine, if_exists='append', index=False)

#PS: RowsMetadata will be created only once

### Execution of checkNbOccurrenciesInSeries method and result storage

In [21]:
result = checkNbOccurrenciesInSeries(database,"Patients","Date de l'examen", 5)

# Storing the result of the method checkIncreasingDatesInSeries in RowsMetadata Table
result.to_sql('RowsMetadata',engine, if_exists='append', index=False)